*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter_18pt-Regular";
    src: url(./Fonts/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: "Inter_28pt-ExtraBold";
    src: url(./Fonts/Inter_28pt-ExtraBold.ttf);
}

:root{
    --font-inter-regular:"Inter_18pt-Regular";
    --font-inter-semibold:"Inter_28pt-ExtraBold";
    --color-navbar-1: #F4F4F4;
    --color-main: #FE5F0A;
    --color-background: #E1E1E1;

}
 

.form-container{
    display: flex;
    flex-direction: column;
   
    align-items: end;
    height: 92vh;
    width: 100%;
    background-image: url(./registration/card-6401249_1280.webp);
    background-size: cover;
    color: black;   
}

.form-container h2{
    color: rgb(201, 43, 43)
}
.form-container, label, input{
    padding: 2px;
    border: none;
    outline: none;
    border-radius: 5px;

    
}

.form-container-inner{
    display: flex;
    flex-direction: column;
    width: 450px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 60px;
    margin-right: 70px;

}

.fc-box{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form-container form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border: 1px solid rgb(207, 203, 203);
    padding: 20px;
    border-radius: 20px;
    box-shadow:  0 0 8px rgba(0, 0, 0, 0.4);
}

.form-container form div{
    gap: 4px;
}

.form-container .name{
    display: flex;
    gap: 20px;
}


.form-container .name div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container .last-name{
    display: flex;
    gap: 20px;
}

.form-container .last-name div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-container button{
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--color-main);
    color: white;
}

.form-container button:hover{
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
}

.form-container textarea{
    border: none;
    outline: none;
    border-radius: 5px;
    height: 100px;
}




@media(max-width: 768px){
    .form-container{
        align-items: center;

    }
    .form-container-inner{
        margin: 0;
        max-width: 420px ;
    }
}

@media(max-width: 450px){

    .form-container{  
    
        height: auto;
        margin-bottom: 20px;
    }
     .form-container-inner{
        margin: 0;
        padding: 10px;
        max-width: 350px;
    }
    .form-container .last-name{    
    flex-direction: column;
    gap: 0;
}
.form-container .name{
    flex-direction: column;
    gap: 0;
}

}